@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: url(images/portfolio1/portfolio1-bg.jpg)top right;
  font-family:Open Sans, Verdana, Arial, sans-serif;
}
/*top navigation*/
#menu-nav{
  background:url(images/portfolio1/transparent-header.png)top right; 
  border-width: 0 0 0px; /*para mawa ang white line sa bottom*/
}
#menu-nav-list{
  font-family: Droid Sans;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
  margin-right: 40px;
}
#menu-nav-list li a{
  font-size: 14px;
  color: #d5dee0;
  text-shadow: 0px 5px 5px #000;
}

/*change sa size sa container para mo center*/
@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

/*main menu*/
#header-bg{
  background: url(images/portfolio1/header.png)no-repeat top center;
  margin-top: -20px;
  height: 180px;
}
#header-bg img{
  padding-top: 43px;
  padding-bottom: 63px;
}
#main-menu-list{
  float: right;
  margin-left: -20px;
  margin-right: -14px;
}
#main-menu-list li a{
  font-size: 12px;
  font-weight: bold;
  font-family: Droid Sans;
  color: #473f27;
  text-shadow: 0px 1px 0px #2e4325;
  margin-top: 110px;
}

/*slider section*/
#slider{
  padding-left: 0px; /*para walay space sa left ug right sa slider*/
  padding-right: 0px;
}

#content1{
  margin-top: -20px;
}


/*right sa slider -- arrival and departure styling*/
#r_slider{
  background-color: #5ED4CF;
  box-shadow: 0px -1px 40px 2px #161616 inset;
  height: 417px;

}
#r_slider .date-bg{
  border: 1px solid #94877f;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px -1px #000;
}
#r_slider h3, #main-content-R h3, .sub-content h4{
  color:#94877f;
  font-family:Viner Hand ITC;
  text-transform: uppercase;
}
.form-group label{
    margin-left: 7px;
    color: #473f27;
    font-family: Open Sans;
}
.form-group input {
  width: 181px;
  margin-left: 60px;
}
.form-group select{
  width: 50px;
  margin: 2px 1px;
}
select option, .date-bg button{
  font-family:Open Sans;
} 
.date-bg button{
  margin-top: 20px;
  margin-left: 170px;
  font-size:13px;
}
::-webkit-datetime-edit { padding: 1em; }
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
/*::-webkit-calendar-picker-indicator { background: orange; }*/


/*ang ge-display-han sa slider*/
#prevButton{
  left: 0px; /*para mawa ang background sa left button sa slider*/
  width: 15%; /*adjust sa button sa slider para sa kilid ma position*/
}
#nextButton{
  right: 0px; /*para mawa ang background sa right button sa slider*/
}
#menu-nav-list li.active a{
  background-color:transparent;
}

/*horizontal line below the slider*/
#content1-bottom{
  background-color: #d5dee0;
  border-top: 1px solid #95ccc2;
  height: 50px;
}
#content1-bottom p{
    padding-left: 23px;
    padding-top: 14px;
    font-family: Droid Sans;
    font-weight: 600;
    font-size: 14px;
    color: #291f1e;
    text-shadow: 0px 1px 0px #7fc5b6;
}
#content1-bottom a {
    float: right;
    margin-right: 7px;
    margin-top:-38px;
    box-shadow: 1px 1px 0px 0px #5ed4cf;
    border-radius: 23px;
    padding: 4px 8px;
    background-color: #4c452f;
    color: #fff;
    font-family: Droid Sans;
    font-size: 15px;
}
a .caret-bg{
  border-radius:100%;
  padding: 2px 8px;
  background-color: #cad2d4;
}
.caret{
  color:#534b35;
}

/*main content*/
#main-content{
  margin-top: 35px;
}

/*main content left side*/
#main-content-L{
  background: #d5dee0;
  color:465f3e;
  height: 522px;
}
#main-content-L h3{
  font-family: Georgia;
  color: #473f27;
}
#main-content-L p{
  font-family: Open Sans;
  font-size: 13px;
  color: #465f3e;
}

/*main content right side*/
#main-content-R{
  padding: 0px;
  background: #5ed4cf url(images/portfolio1/promo.jpg)no-repeat 2px 336px;
  background-size: 231px;
  box-shadow: 9px -7px 30px -6px #161616 inset;
  height: 522px;
  position: relative;
}
#main-content-R a#btn-promo{
    padding-top: 212px;
    padding-left: 128px;
    z-index: 200;
    position: absolute;
    font-size: 12px;
    text-decoration: none;
    font-family: Kristen ITC;
    color: #d5dee0;
}

/*features list right side sa main content*/
#features_list{
  padding-left: 10px;
}
#features_list li{
    list-style: none;
    text-align: left;
    background-color: transparent;
    border-top: 2px solid #d5dee0;
    border-bottom: 2px solid #473f27;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: horizontal;
    width: 210px;
}
#features_list li:first-child{border-top:none;}
#features_list li:last-child{border-bottom:none;}
#features_list li a{
  font-family: Droid Sans;
  font-weight: bold;
  font-size: 14px;
  color: #cabfb8;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #000;
  text-decoration: none;
}


#main-content-L .sub-content{
  margin-right: 55px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 25px;
}

/*sub-content styling*/
#main-content-L h5{
  font-weight: 600;
  font-size:18px;
  font-family:Droid Sans;
  color: #465f3e;
  text-shadow:0px 1px 0px #c1d1bc;
  margin-top: 0px;
}

.sub-content .sub-content-data{
  background: #2cabb7;
  border-top: 1px solid #c1d1bc;
  height: 178px;
  width: 211px;
  padding: 24px 13px 17px 11px;
}

/*footer section*/
#footer span img{
  display: inline;
  height: 24px;
  width: auto;
}
#footer .float-r{
  float: right;
}
#footer p{
  color:#473f27;
  font-size:13px;
  font-family:Open Sans;
  text-shadow:0px 1px 0px #362f2d;
}
#footer .footer-policy{
  color:#fff;
}

